/*font-family: "BigJohn";*/
/*font-family: "SlimJoe";*/
/*font-family: 'Roboto Mono', monospace;*/
/*font-family: 'Palanquin Dark', sans-serif;*/
/*Main Red Color: D12343*/
@-webkit-keyframes scrolling {
	0% {
		transform: translate3d(0,0,0);
	}
	100% {
		transform: translate3d(0,-320px,0);
	}
}
html, body {
	overflow-x: hidden;
}
.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../res/loading.gif') 50% 50% no-repeat #ffffff;
}
@font-face {
	font-family: BigJohn;
	src: url('../res/BIGJOHN.otf');
}
@font-face {
	font-family: SlimJoe;
	src: url('../res/SlimJoe.otf');
}
.panel {
	position: relative;
	padding: 2em 10%;
	background: #2980b9;
	text-align: center;
}
.panel::before,
.panel::after {
	position: absolute;
	content: '';
	pointer-events: none;
}

@media (max-width: 503px) {
	h1:not(#title) {
		font-size: 2.5em !important;
	}

	#header #title {
		font-size: 3.5em !important;
	}

	#subtitle {
		font-size: 1.5em !important;
	}
}

/* FIRST PANEL - TITLE */

#first {
	/*position: fixed; PARALLAX*/
	width: 100vw;
	min-height: 101vh;
	height: auto;
	background-color: #ffffff;
	overflow: hidden;
}
#header {
	margin-top: 3em;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	flex-wrap: wrap-reverse;
}
/* logo */
#header img {
	width: 15%;
	min-width: 10rem;
	height: auto;
	z-index: 2;
	float: right;
}
/* hack saint louis */
#header #title {
	font-family: 'Palanquin Dark', sans-serif;
	z-index: 10;
	font-size: 4em;
	display: inline-block;
	margin-top: auto;
	padding: 0 !important;
	text-align: center;
}
@media (min-width: 621px) {
	#header #title {
		text-align: left;
	}
}
/* place and time */
#subtitle {
	font-family: 'Roboto Mono', monospace;
	z-index: 10;
	font-size: 2em;
	position: relative;
}
#subscribe {
	margin: 5em 0;
}
#subscribe input, #subscribe button {
	font-family: 'Roboto Mono', monospace;
	height: 50px;
	z-index: 10;
	width: 100%;
	position: relative;
	padding-right: 1.5em;
	padding-left: 1.5em;
	border: 2px solid #D12343;
}
#subscribe button {
	background: #D12343;
	transition: color .25s;
}
#subscribe p {
	color: #00CD00;
	font-family: 'Roboto Mono', monospace;
	font-size: 2em;
	position: relative;
	z-index: 10;
}
@media (min-width: 522px) {
	#subscribe button, #subscribe input {
		width: auto;
	}
}
#subscribe input:focus, #subscribe button:focus {
	outline: none;
}
#subscribe button:hover {
	cursor: pointer;
	color: white;
}
.scroll {
	background-image: url("../res/scrolling.svg");
	background-position: center center;
	background-size: 500px;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 400%;
	width: 100%;
	z-index: 1;
	animation: scrolling 10s linear infinite;
	opacity: .5;
}
.doubleddiagonal {
	position: relative;
}
.doubleddiagonal > * {
	position: relative;
	z-index: 5;
}
.doubleddiagonal::before,
.doubleddiagonal::after {
	position: absolute;
	top: 0;
	left: -25%;
	width: 125.25%;
	height: 75%;
	background: inherit;
	-webkit-transform: rotate(-2deg);
	transform: rotate(-2deg);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}
.doubleddiagonal::before {
	z-index: 2;
}
.doubleddiagonal::after {
	height: 50%;
	background: #9e1331;
	-webkit-transform: rotate(-4deg);
	transform: rotate(-4deg);
	-webkit-transform-origin: 3% 0;
	transform-origin: 3% 0;
	z-index: 1;
}

/* SECOND PANEL */

#second {
	/*margin-top: 100vh; PARALLAX*/
	width: 100vw;
	height: auto;
	padding: 11.25vh 10vw 21.25vh 10vw;
	position: relative;
	z-index: 1;
	background-color:#D12343 !important;
	background: url("../res/absurdity.png");
	background-repeat: repeat;
}
#second h1 {
	text-align: center;
	font-family: 'Palanquin Dark', sans-serif;
	font-size: 4em;
	color: #ffffff;
}
#second p {
	margin-top: 30px;
	text-align: left;
	font-size: 1.2em;
	color: #ffffff;
	font-family: 'Roboto Mono', monospace;
}
#hsl {
	color: rgb(255, 230, 235);
	font-size: 1.08em;
}

/* THIRD PANEL */

#third {
	width: 100vw;
	height: auto;
	padding: 10vh 5vw;
	position: relative;
	z-index: 1;
	background-color:#E5E5E5 !important;
	background: url("../res/reticular.png");
	background-repeat: repeat;
}
#transitionOne {
	width: 100vw;
	height: 40px;
	background-color: rgba(218, 40, 79, 0.7);
	top: 0;
}
#transitionTwo {
	width: 100vw;
	height: 30px;
	background-color: rgba(218, 40, 79, 0.45);
	top: 0;
}
#FAQ {
	font-family: "BigJohn";
	color: #D12343;
	font-size: 4em;
	margin-top: 20px;
}
.FAQContainer {
	margin-top: 35px;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}
.FAQContainer li {
	flex-basis: 0;
	flex-grow: 1;
	list-style-type: none;
	background-color: #d8d8d8;
	width: 28%;
	min-width: 15rem;
	padding: 10px;
	margin: 2% 2% 2rem;
	border-radius: 3px;
	border-left: 8px solid #949494;
}
.FAQContainer li .Q span {
	font-family: "BigJohn";
	color: black;
	margin-top: 10px;
}
.FAQContainer li .A span {
	font-family: 'Roboto Mono', monospace;
	color: black;
}
.FAQContainer li .A {
	margin-top: 5px;
}

/* FOURTH PANEL */

/*#curveUpColor {
	background-color: #e5e5e5;
}
#curveUpColor path {
	fill: #2980B9;
	stroke: #2980B9;
}*/
#fourth {
	width: 100vw;
	height: auto;
	position: relative;
	z-index: 1;
	padding: 10vh;
	background-color:#D12343 !important;
	background: url("../res/asfalt.png");
	background-repeat: repeat;
}
#FSchedule {
	font-family: "BigJohn";
	color: #e5e5e5;
	font-size: 4em;
	margin-top: 20px;
}
#scheduleContainer {
	margin-top: 4em;
	padding-right: 2%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
#scheduleContainer .scheduleListContainer {
	list-style-type: none;
	min-width: 15rem;
	margin-right: 2%;
	padding: 0;
	flex-basis: 0;
	flex-grow: 1;
	background-color: rgba(229, 229, 229, 0.79);
}
#scheduleContainer .scheduleListContainer .scheduleListItem {
	padding: 10px;
	font-size: 1.25em;
	width: 100%;
	text-align: left;
}
#scheduleContainer .scheduleListContainer .scheduleListItem .time, .scheduleListDay {
	font-family: "BigJohn";
	color: black;
	text-align: center !important;
}
.scheduleListDay {
	background-color: #e8e8e8 !important;
}
#fifth {
	background-color: #e5e5e5;
	width: 100vw;
	height: auto;
	min-height: 80vh;
	position: relative;
	z-index: 1;
}
#TSponsors {
	font-family: "BigJohn";
	color: #D12343;
	font-size: 4em;
	margin-top: 20px;
}
